.header-menu {
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 3;
}

.header-menu_opened {
  opacity: 1;
  visibility: visible;
}

.header-menu__wrapper {
  background-color: #FAFAFA;
  display: grid;
  grid-template-columns: minmax(320px, 520px);
  grid-template-rows: min-content;
  row-gap: 109px;
}

.header-menu__container {
  padding-bottom: 90px;
  max-height: 776px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

@media screen and (max-width: 414px) {
  .header-menu__wrapper {
    row-gap: 102px;
  }

  .header-menu__container {
    max-height: 589px;
    padding-bottom: 46px;
  }
}