.search-form {
  padding: 70px 70px 0;
  background-color: inherit;
  position: relative;
}

.search-form__form {
  padding-bottom: 69px;
  position: relative;
  border-bottom: 1px solid #E8E8E8;
}

.search-form__input-container {
  background-color: #FFFFFF;
  background-image: url(../../../images/icon-search.svg);
  background-repeat: no-repeat;
  background-size: 22px 18px;
  background-position: top 25px left 25px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  padding: 16px 241px 16px 63px;
  border: none;
  margin: 0;
  display: flex;
  z-index: 1;
  box-sizing: border-box;
  min-height: 72px;
  align-items: center;
}

.search-form__input {
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  border: none;
  color: #000000;
  width: 100%;
  height: 33px;
}

.search-form__input:focus {
  outline: none;
  background-image: linear-gradient(50deg, #3457f325, #f5f5f500);
  border-radius: 5px;
}

.search-form__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

@media screen and (max-width: 768px) {
  .search-form {
    padding-top: 80px;
    padding-inline: 30px;
  }

  .search-form__input-container {
    padding-top: 14px;
    padding-right: 227px;
  }

  .search-form__form {
    padding-bottom: 109px;
  }  
}

@media screen and (max-width: 720px) {
  .search-form {
    padding-top: 80px;
    padding-inline: 30px;
  }

  .search-form__form {
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .search-form__input-container {
    padding-right: 19px;
  }

  .search-form__button {
    margin-right: 0;
  }
}

@media screen and (max-width: 540px) {
  .search-form__input-container {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 19px;
  }
  
  .search-form__input::placeholder {
    font-size: 14px;
  }
}

@media screen and (max-width: 414px) {
  .search-form {
    padding-inline: 10px;
  }

  .search-form__input {
    font-size: 14px;
  }
}