.button-like {
  background: url(../../../images/like-inactive.svg) no-repeat;
  background-size: 14px 12px;
  background-position: center;
  padding: 0;
  background-color: #FFFFFF;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.button-like_active {
  background-image: url(../../../images/like-active.svg);
}

.button-like:hover {
  opacity: .8;
}
