.search-form__button {
  background-image: url(../../../images/icon-search-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3456F3;
  color: #FFFFFF;
  border: none;
  border-radius: 48px;
  min-width: 80px;
  height: 34px;
  padding: 0;
  cursor: pointer;
  transition: opacity .2s ease-in;
}

.search-form__button:hover {
  opacity: .8;
}